{{#each menu_item as |item|}}
 <ul>
  <h1 class="list-heading" data-id="{{item.id}}"> <li><small>Name: {{item.name}}</small></li></h1>
  <div class="list-body" data-id="{{item.id}}">
    {{#if item.description}}
      <li>Description: {{item.description}}</li>
      <li>Price: ${{item.price}}</li>
      <li>Location: ${{item.location}}
    {{else}}
      No description.
    {{/if}}
    <button class=add-button> Add Item </button>
  </div>
</ul>
{{/each}}
