{{#each profile as |item|}}
 <ul data-id="{{item.id}}">
  <h1 class="list-heading" data-id="{{item.id}}"> <li><small>User: {{item.user.email}}</small></li></h1>
  <div class="list-body" data-id="{{item.id}}">
    {{#if item.menu_item}}
      <li>Name: {{item.menu_item.name}}</li>
      <li>Description: {{item.menu_item.description}}</li>
      <li>Location: {{item.menu_item.location}}</li>
      <li>Price: ${{item.menu_item.price}}</li>
    {{else}}
      Menu item does not exist :( .
    {{/if}}
    <button class=delete-button> Remove Item </button>
    <li>Click to apply coupon: <input type="checkbox" id="myCheck"></li>
    <li><button onclick="couponFunction()">Submit</button></li>

    <li><p id="coupon-response"></p></li>
  </div>
</ul>
{{/each}}
