
{{#each profile as |item|}}
 <ul data-id="{{item.id}}">
  <h1 class="list-heading" data-id="{{item.id}}"> <li><small>User: {{item.user.email}}</small></li></h1>
  <div class="list-body" data-id="{{item.id}}">
    {{#if item.menu_item}}
      <li>Name: {{item.menu_item.name}}</li>
      <li>Description: {{item.menu_item.description}}</li>
      <li>Location: {{item.menu_item.location}}</li>
      <li>Price: ${{item.menu_item.price}}</li>
      <li>Savings from Coupon: {{item.coupon_menu.price}}</li>
    {{else}}
      No description.
    {{/if}}
    <button class=delete-button> Remove Item </button>
  </div>
</ul>
{{/each}}
